h1 {
    color: blue;
    text-align: center;
}

.header{
    background-color:  #05ffc9;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    display: grid;
    color: blue;
    justify-content: space-evenly;
}

.item1{
    display: grid;
    color: blue;
    justify-content: space-evenly;
}

p{
    text-align: center;
}

body{
    background-color: #05ffc9;
}