h1 {
    color: aqua;
}

.header{
    background-color: darkcyan;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    color: blue;
    justify-content: space-evenly;
}